div.nav-link Sponsor
    a.sponsor(href=`https://ww.coinnesspan.com/`) coin news
    a.sponsor(href=`https://opencollective.com/pug/sponsor/0/website` target=`_blank`)
        img(src=`https://opencollective.com/pug/sponsor/0/avatar.svg`, height=`64`)
    a.sponsor(href=`https://opencollective.com/pug/sponsor/1/website` target=`_blank`)
        img(src=`https://opencollective.com/pug/sponsor/1/avatar.svg`, height=`64`)
    a.sponsor(href=`https://opencollective.com/pug/sponsor/2/website` target=`_blank`)
        img(src=`https://opencollective.com/pug/sponsor/2/avatar.svg`, height=`64`)
    a.sponsor(href=`https://opencollective.com/pug/sponsor/3/website` target=`_blank`)
        img(src=`https://opencollective.com/pug/sponsor/3/avatar.svg`, height=`64`)
    a.sponsor(href=`https://opencollective.com/pug/sponsor/4/website` target=`_blank`)
        img(src=`https://opencollective.com/pug/sponsor/4/avatar.svg`, height=`64`)